<%- include("nav.ejs")%>


    <section id="page-header" class="blog-header">
        <h2>#readmore</h2>
        <p>Read all case studies about our products!</p>
    </section>

    <section id="blog">
        <div class="blog-box">
            <div class="blog-img">
                <img src="img/blog/ch.png">
            </div>
            <div class="blog-details">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis assumenda autem rem tenetur dicta.</p>
                
            </div>
            <h1>13/01</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="img/blog/de.png">
            </div>
            <div class="blog-details">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis assumenda autem rem tenetur dicta.</p>
                
            </div>
            <h1>13/01</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="img/blog/ch.png">
            </div>
            <div class="blog-details">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis assumenda autem rem tenetur dicta.</p>
                
            </div>
            <h1>13/01</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="img/blog/de.png">
            </div>
            <div class="blog-details">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis assumenda autem rem tenetur dicta.</p>
                
            </div>
            <h1>13/01</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img" style="float: left;">
                <img
                    src="img/blog/ch.png">
            </div>
            <div class="blog-details" style="float: left;">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officiis assumenda autem rem tenetur dicta.</p>
                
            </div>
            <h1>13/01</h1>
        </div>
    </section>


    <%- include("footer.ejs")%>