<%- include("nav.ejs")%>


    <section id="page-header" class="about-header">
        <h2>#let's_talk</h2>
        <p>LEAVE A MESSAGE, we love to hear from You!</p>
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li><i class="fa-solid fa-map"></i>
                    <p>Pipeline Road, Ahmednagar</p>
                </li>
                <li><i class="fa-solid fa-envelope"></i>
                    <p>suyogskulkarni29@gmail.com</p>
                </li>
                <li><i class="fa-solid fa-phone"></i>
                    <p>+91 7972498074</p>
                </li>
                <li><i class="fa-solid fa-clock"></i>
                    <p>Monday - Saturday : 9.00am to 10.00pm</p>
                </li>

            </div>
        </div>

        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15078.595429248982!2d74.7285257758283!3d19.123054492973285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdcba6357983113%3A0x935f12d2e921c765!2sSavedi%2C%20Ahmednagar%2C%20Maharashtra%20414003!5e0!3m2!1sen!2sin!4v1657035568575!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <%- include("footer.ejs")%>